
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Item Cart</title>
		<meta name="description" content="browsing items added to cart">
		<meta name="author" content="Abbas Mohamed Al-Amin">
		<link href="../style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Shopping Cart:</h1>
	</body>
</html>
