
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Item Cart</title>
		<meta name="description" content="browsing items added to cart">
		<meta name="author" content="Abbas Mohamed Al-Amin">
		<link href="../style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Shopping Cart:</h1>

		<!--
		<ul>
			{{#each cartItems}}
			<li style="display:inline-block">
				<table style="width: 100%">
					<tr>
						<td>
							<a href="/details/{{this.id}}"><img src="{{this.imageSRC}}" height="200", width="auto"></a>
						</td>
					</tr>
					<tr><td><a href="/details/{{this.id}}">{{this.name}}</a></td></tr>
				</table>
			</li>		
			{{/each}}
		</ul>
		-->

	</body>
</html>
