
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>ERROR</title>
		<meta name="description" content="The HTML5 Template">
		<meta name="author" content="Joe Bloggs">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<ul id="navbar">
			<li><a href="/">Home</a></li>
			<li><a href="/browse">Browse</a></li>
			<li><a href="/cart">My Cart</a></li>
			<li><a href="/settings">Account Settings</a></li>
			{{#if isAdmin}}
			<li><a href="/add-item">Add an item</a></li>
			<li><a href="/add-code">Add discount code</a></li>
			{{/if}}
		</ul> <hr>

        <h1>An Error Has Occurred</h1>
        <h2>{{message}}</h2>
	</body>
</html>
