
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="../style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<ul id="navbar">
			<li><a href="/">Home</a></li>
			<li><a href="/browse">Browse</a></li>
			<li><a href="/cart">My Cart</a></li>
			<li><a href="/settings">Account Settings</a></li>
			{{#if isAdmin}}
			<li><a href="/add-item">Add an item</a></li>
			<li><a href="/add-code">Add discount code</a></li>
			{{/if}}
		</ul> <hr>
		
		<h1>Home</h1>
		{{#if message}}
			<p class="msg"> {{message}} </p>
		{{/if}}
		<p>This is a secure page. Users need to have a valid account and be logged in to see it.</p>
		<p><a href="/logout">log out</a></p>
</html>
